{{> head}}

  <body>
    <div class="conteiner">
      <div class="row">
        <div class="toggle-sidebar">
          <button class="menu-icon-wrapper">
            <div class="menu-icon"></div>
          </button>
        </div>

        <main class="main cards-holder">

          <a href="#" class="card-link">
            <div class="card">
              <div class="card__badges">
                <div class="card__badge card__badge--yellow">Комфорт</div>
                <div class="card__badge card__badge--green">
                  Рассрочка 12 мес.
                </div>
              </div>
              <div class="card__img">
                <img src="img/Jk.jpg" alt="ЖК Ильинские луга" srcset="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">ЖК Ильинские луга</h4>
                <div class="card__term">Срок сдачи до 4 кв. 2022 г.</div>
                <div class="card__metro">Октябрьская</div>
                <div class="card__adress">пр. Льва Толстого 180А</div>
              </div>
            </div>
          </a>

          <a href="#" class="card-link">
            <div class="card">
              <div class="card__badges">
                <div class="card__badge card__badge--yellow">Комфорт</div>
                <div class="card__badge card__badge--green">
                  Рассрочка 12 мес.
                </div>
              </div>
              <div class="card__img">
                <img src="img/Jk.jpg" alt="ЖК Ильинские луга" srcset="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">ЖК Ильинские луга</h4>
                <div class="card__term">Срок сдачи до 4 кв. 2022 г.</div>
                <div class="card__metro">Октябрьская</div>
                <div class="card__adress">пр. Льва Толстого 180А</div>
              </div>
            </div>
          </a>

          <a href="#" class="card-link card-link__1">
            <div class="card">
              <div class="card__badges">
                <div class="card__badge card__badge--yellow">Комфорт</div>
                <div class="card__badge card__badge--green">
                  Рассрочка 12 мес.
                </div>
              </div>
              <div class="card__img">
                <img src="img/Jk.jpg" alt="ЖК Ильинские луга" srcset="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">ЖК Ильинские луга</h4>
                <div class="card__term">Срок сдачи до 4 кв. 2022 г.</div>
                <div class="card__metro">Октябрьская</div>
                <div class="card__adress">пр. Льва Толстого 180А</div>
              </div>
            </div>
          </a>

          <a href="#" class="card-link">
            <div class="card">
              <div class="card__badges">
                <div class="card__badge card__badge--yellow">Комфорт</div>
                <div class="card__badge card__badge--green">
                  Рассрочка 12 мес.
                </div>
              </div>
              <div class="card__img">
                <img src="img/Jk.jpg" alt="ЖК Ильинские луга" srcset="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">ЖК Ильинские луга</h4>
                <div class="card__term">Срок сдачи до 4 кв. 2022 г.</div>
                <div class="card__metro">Октябрьская</div>
                <div class="card__adress">пр. Льва Толстого 180А</div>
              </div>
            </div>
          </a>

          <a href="#" class="card-link">
            <div class="card">
              <div class="card__badges">
                <div class="card__badge card__badge--yellow">Комфорт</div>
                <div class="card__badge card__badge--green">
                  Рассрочка 12 мес.
                </div>
              </div>
              <div class="card__img">
                <img src="img/Jk.jpg" alt="ЖК Ильинские луга" srcset="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">ЖК Ильинские луга</h4>
                <div class="card__term">Срок сдачи до 4 кв. 2022 г.</div>
                <div class="card__metro">Октябрьская</div>
                <div class="card__adress">пр. Льва Толстого 180А</div>
              </div>
            </div>
          </a>

          <a href="#" class="card-link card-link__1">
            <div class="card">
              <div class="card__badges">
                <div class="card__badge card__badge--yellow">Комфорт</div>
                <div class="card__badge card__badge--green">
                  Рассрочка 12 мес.
                </div>
              </div>
              <div class="card__img">
                <img src="img/Jk.jpg" alt="ЖК Ильинские луга" srcset="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">ЖК Ильинские луга</h4>
                <div class="card__term">Срок сдачи до 4 кв. 2022 г.</div>
                <div class="card__metro">Октябрьская</div>
                <div class="card__adress">пр. Льва Толстого 180А</div>
              </div>
            </div>
          </a>

          <a href="#" class="card-link">
            <div class="card">
              <div class="card__badges">
                <div class="card__badge card__badge--yellow">Комфорт</div>
                <div class="card__badge card__badge--green">
                  Рассрочка 12 мес.
                </div>
              </div>
              <div class="card__img">
                <img src="img/Jk.jpg" alt="ЖК Ильинские луга" srcset="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">ЖК Ильинские луга</h4>
                <div class="card__term">Срок сдачи до 4 кв. 2022 г.</div>
                <div class="card__metro">Октябрьская</div>
                <div class="card__adress">пр. Льва Толстого 180А</div>
              </div>
            </div>
          </a>

          <a href="#" class="card-link">
            <div class="card">
              <div class="card__badges">
                <div class="card__badge card__badge--yellow">Комфорт</div>
                <div class="card__badge card__badge--green">
                  Рассрочка 12 мес.
                </div>
              </div>
              <div class="card__img">
                <img src="img/Jk.jpg" alt="ЖК Ильинские луга" srcset="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">ЖК Ильинские луга</h4>
                <div class="card__term">Срок сдачи до 4 кв. 2022 г.</div>
                <div class="card__metro">Октябрьская</div>
                <div class="card__adress">пр. Льва Толстого 180А</div>
              </div>
            </div>
          </a>

          <a href="#" class="card-link card-link__1">
            <div class="card">
              <div class="card__badges">
                <div class="card__badge card__badge--yellow">Комфорт</div>
                <div class="card__badge card__badge--green">
                  Рассрочка 12 мес.
                </div>
              </div>
              <div class="card__img">
                <img src="img/Jk.jpg" alt="ЖК Ильинские луга" srcset="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">ЖК Ильинские луга</h4>
                <div class="card__term">Срок сдачи до 4 кв. 2022 г.</div>
                <div class="card__metro">Октябрьская</div>
                <div class="card__adress">пр. Льва Толстого 180А</div>
              </div>
            </div>
          </a>

          <a id="content" href="#" class="card-link card-link--hidden">
            <div class="card">
              <div class="card__badges">
                <div class="card__badge card__badge--yellow">Комфорт</div>
                <div class="card__badge card__badge--green">
                  Рассрочка 12 мес.
                </div>
              </div>
              <div class="card__img">
                <img src="img/Jk.jpg" alt="ЖК Ильинские луга" srcset="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">ЖК Ильинские луга</h4>
                <div class="card__term">Срок сдачи до 4 кв. 2022 г.</div>
                <div class="card__metro">Октябрьская</div>
                <div class="card__adress">пр. Льва Толстого 180А</div>
              </div>
            </div>
          </a>

          <a id="content" href="#" class="card-link card-link--hidden">
            <div class="card">
              <div class="card__badges">
                <div class="card__badge card__badge--yellow">Комфорт</div>
                <div class="card__badge card__badge--green">
                  Рассрочка 12 мес.
                </div>
              </div>
              <div class="card__img">
                <img src="img/Jk.jpg" alt="ЖК Ильинские луга" srcset="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">ЖК Ильинские луга</h4>
                <div class="card__term">Срок сдачи до 4 кв. 2022 г.</div>
                <div class="card__metro">Октябрьская</div>
                <div class="card__adress">пр. Льва Толстого 180А</div>
              </div>
            </div>
          </a>

          <a id="content" href="#" class="card-link card-link__1 card-link--hidden">
            <div class="card">
              <div class="card__badges">
                <div class="card__badge card__badge--yellow">Комфорт</div>
                <div class="card__badge card__badge--green">
                  Рассрочка 12 мес.
                </div>
              </div>
              <div class="card__img">
                <img src="img/Jk.jpg" alt="ЖК Ильинские луга" srcset="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">ЖК Ильинские луга</h4>
                <div class="card__term">Срок сдачи до 4 кв. 2022 г.</div>
                <div class="card__metro">Октябрьская</div>
                <div class="card__adress">пр. Льва Толстого 180А</div>
              </div>
            </div>
          </a>

          <button id="button" class="btn-more">
            <img src="./img/icons/plus-circle.svg" alt="Show more" />
            <span>Показать еще</span>
          </button>
        </main>

				{{> asidebar}}

      </div>
    </div>
  </body>
	<script src="js/client.js"></script>
</html>
